/* import de tailwind */
@import "tailwindcss";

/* import de fonte */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto.woff2') format('woff2');
}

@font-face {
    font-family: 'Staatliches';
    src: url('./assets/fonts/Staatliches/Staatliches.woff2') format('woff2');
}

@theme {
    --font-staatliches: 'Staatliches', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

@layer base {
    * {
        @apply font-roboto;
    }

    main {
        @apply px-8;
    }
}

@layer components {
    .lp-section {
        @apply min-h-screen flex flex-col justify-center items-center;
    }
}