/* import de tailwind */
@import 'tailwindcss';

/* import de fonte */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'Staatliches';
  src: url('./assets/fonts/Staatliches/Staatliches.woff2') format('woff2');
}

@theme {
  --font-staatliches: 'Staatliches', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@layer base {
  html {
    @apply text-[90%] md:text-[100%] lg:text-[110%];
  }

  * {
    @apply font-roboto;
  }

  main {
    @apply px-6 min-h-[98vh] max-w-250;
  }
}

@layer components {
  .lp-section {
    @apply min-h-[90vh] flex flex-col justify-center items-center py-4;
  }

  .lp-image {
    @apply h-80 my-4;
  }

  .lp-info {
    @apply flex flex-col md:max-w-120 md:mx-8 gap-4;

    & p {
      @apply md:max-w-4/5;
    }
  }

  .lp-line {
    @apply h-1 bg-white rounded-full;
  }

  .botao-sm {
    @apply flex items-center justify-center p-2 min-w-20 rounded-lg bg-purple-600 cursor-pointer transition-all duration-300 ease-linear hover:bg-purple-200;
  }

  .botao-md {
    @apply p-4 bg-purple-900 rounded-lg cursor-pointer transition-all duration-300 ease-linear hover:bg-purple-200;
  }

  .entry {
    @apply p-3 bg-white rounded focus:outline-none;
  }

  .seta-redirect {
    @apply p-4 text-lg rounded-full bg-gray-500 cursor-pointer transition-all duration-200 ease-in hover:scale-110;
  }

  .titulo-1 {
    @apply font-staatliches text-4xl font-extrabold;
  }

  .fim-convexo {
    @apply relative before:content-["-"] before:bg-white before:absolute before:bottom-0 before:right-full before:rounded-full before:text-white before:size-10 after:content-["-"] after:bg-white after:absolute after:bottom-0 after:left-full after:rounded-full after:text-white after:size-10;
  }
}

@layer utilities {
  .transition-300 {
    @apply transition-all duration-300 ease-in;
  }

  .transition-full {
    @apply transition-all ease-in;
  }

  .border-gradient-purple {
    border-image: linear-gradient(to right, #a855f7, transparent) 1;
  }
}